* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
};

html, body {
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%;
  };

section#message {
    padding: 1.5rem;
    background-color: rgb(54,54,54);
    color: (106,90,205);
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;  
    display: flex;
    align-items: center;
    justify-content: space-between;
  };

  section#corpo-principal section.principal {
    background-color: #fff;
    padding: 3rem;
    border-radius: 1.5rem;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    width: 20%;
    position: relative;
  };
  article#title {
    width: 50%;
  };
  
  article#title h2 {
    padding: 1.5rem;
  };
  
  article#desenho h3 {
    font-size: 1.5rem;
    padding: 3rem 3rem 1rem 3rem;
  };
  
  article#desenho ul {
    list-style: none;
  };
  
  article#desenho ul li {
    padding: 1rem 1rem 1rem 3rem;
    font-size: 1.2rem;
  };